<header>
    <nav class="flex-center">
        <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><img src="../../../assets/img/home.png" alt=""></a>
        <a routerLink="/signup" routerLinkActive="active"><img src="../../../assets/img/add-user.png" alt=""></a>
        <a routerLink="/contact" routerLinkActive="active"><img src="../../../assets/img/users.png" alt=""></a>
        <a routerLink="/statistic" routerLinkActive="active"><img src="../../../assets/img/increase.png" alt=""></a>
    </nav>
</header>