@import '../../../assets/styles/setup/functions';
@import '../../../assets/styles/setup/variables';

header {
    background-color: $clr1;
	color: $clr2;
	padding: rem(13px) rem(40px);

	nav {
		> * {
			text-decoration: none;
			color: $clr2;
			cursor: pointer;
			width: rem(35px);

			&:not(:last-child) {
				margin-right: rem(30px);
			}

			&:hover {
				opacity: 0.6;
			}
		}
	}
}