header {
    background-color:#0077b6;;
	color: #f0f5f9;
	padding: 13px 40px;

	nav {
		> * {
			text-decoration: none;
			color: #f0f5f9;
			cursor: pointer;
			width: 35px;

			&:not(:last-child) {
				margin-right: 30px;
			}

			&:hover {
				opacity: 0.6;
			}
		}
	}
}