@import "../../../assets/styles/setup/functions";
@import "../../../assets/styles/setup/variables";

.contact-app {
    padding-top: rem(50px);
    padding-bottom: rem(50px);

    a {
        display: block;
        margin: 0 auto;
        width: rem(130px);
    }
}