<section class="home-page">
    <div *ngIf="loggedinUser" class="user-container flex-col">
        <h2>Hello {{loggedinUser.name}}!</h2>
        <div class="coins flex-center">
            <img src="../../../assets/img/coins.png" alt="" />
            <div>Coins: ${{loggedinUser.coins}}</div>
        </div>
        <div class="btc flex-center">
            <img src="../../../assets/img/bitcoin.png" alt="" />
            <div>BTC: {{rate$ | async}}</div>
        </div>
        <move-list [moves]="loggedinUser.moves" [isShowTo]="true"></move-list>
    </div>
    <div *ngIf="!loggedinUser" class="home-page-init flex">
        <div class="content">
            <h1>Your gateway to Bitcoin & beyond</h1>
            <p>The tools and information you need to buy, sell, trade, invest, and spend cryptocurrencies</p>
            <div class="signup-btn">
                <a routerLink="/signup" class="btn">Try Now</a>
            </div>
        </div>
        <img class="homepage-svg" src="../../../assets/img/homepage.svg" alt="" />
    </div>
</section>