<section class="home-page">
    <div *ngIf="loggedinUser" class="user-container flex-col">
        <h2>Hello {{loggedinUser.name}}!</h2>
        <div class="coins flex-center">
            <img src="../../../assets/img/coins.png" alt="" />
            <div>Coins: ${{loggedinUser.coins}}</div>
        </div>
        <div class="btc flex-center">
            <img src="../../../assets/img/bitcoin.png" alt="" />
            <div>BTC: {{rate}}</div>
        </div>
        <move-list [moves]="loggedinUser.moves" [isShowTo]="true"></move-list>
    </div>
    <div *ngIf="!loggedinUser" class="signup-btn">
        <a routerLink="/signup" class="btn">Login / Sign Up</a>
    </div>
</section>