@import "../../../assets/styles/setup/functions";
@import "../../../assets/styles/setup/variables";

.moves-list {
	justify-content: center;
    background-color: $clr6;
    text-align: center;
    margin-block-end: rem(20px);
    border-radius: rem(5px);
    padding: rem(15px) rem(30px);

    h3 {
        padding-block-end: rem(10px);
    }

    > *:not(:last-child) {
        border-bottom: 1px solid rgb(202, 201, 201);
    }
}