.moves-list {
	justify-content: center;
    background-color: #ebebeb;
    text-align: center;
    margin-block-end: 20px;
    border-radius: 5px;
    padding: 15px 30px;

    h3 {
        padding-block-end: 10px;
    }

    > *:not(:last-child) {
        border-bottom: 1px solid rgb(202, 201, 201);
    }
}