.transfer-fund {
  margin: 40px auto;
  background-color: #008e9b;
  border-radius: 5px;
  padding: 15px 0;

  h3 {
    text-align: center;
    margin-block-end: 20px;
  }

  form {
    text-align: center;

    > *:not(:last-child) {
      margin-inline-end: 10px;
    }

    input {
      border-radius: 10px;
      border: 1px solid #d8d8d8;
      padding: 5px;
      background-color: inherit;
    }
  }

  @media screen and (max-width: 400px) {
    h3 {
      font-size: 15px;
    }
    
		form {
      display: flex;
      flex-direction: column;

      > *:not(:last-child) {
        margin-inline-end: 0;
        margin-block-end: 15px;
      }

      button {
        width: 40%;
        margin: 0 auto;
      }
    }
	}
}
