
// COLOR PALETTE
$clr1: #0077b6;
$clr2: #f0f5f9;
$clr3: #000c3e;
$clr4: #60adf1;
$clr5: #008e9b;
$clr6: #a9d6f6;

// LAYOUT BREAKPOINTS
$break-mobile: 460px;
$break-narrow: 560px;
$break-normal: 740px;
$break-wide: 960px;


