.contact-edit {
    text-align: center;
    padding-top: 30px;

    h1 {
        margin-block-end: 30px;
    }

    form > * {
        margin-block-end: 20px;
        justify-content: center;
    }

    label {
        margin-right: 10px;
    }

    input {
        padding: 7px;
        border-radius: 10px;
        border: 1px solid #d8d8d8;
        width: 220px;
    }

    .save-btn {
        display: block;
        margin: 30px auto;
    }

    .actions {
        margin: 30px auto;

        img {
            width: 25px;
        }

        button {
            background-color: inherit;
            border: none;
            cursor: pointer;
        }
    }
}