@import "../../../assets/styles/setup/functions";
@import "../../../assets/styles/setup/variables";

.contact-edit {
    text-align: center;
    padding-top: rem(30px);

    h1 {
        margin-block-end: rem(30px);
    }

    form > * {
        margin-block-end: rem(20px);
        justify-content: center;
    }

    label {
        margin-right: rem(10px);
    }

    input {
        padding: rem(7px);
        border-radius: 10px;
        border: 1px solid #d8d8d8;
        width: rem(220px);
    }

    .save-btn {
        display: block;
        margin: rem(30px) auto;
    }

    .actions {
        margin: rem(30px) auto;

        img {
            width: rem(25px);
        }

        button {
            background-color: inherit;
            border: none;
            cursor: pointer;
        }
    }
}