@import "../../../assets/styles/setup/functions";
@import "../../../assets/styles/setup/variables";
@import "../../../assets/styles/setup/mixins";

.contact-details {
    align-items: center;
    
    img {
        width: rem(200px);
        margin-block-end: rem(20px);
        border-radius: 50%;
    }

    h3 {
        margin-block-end: rem(10px);
    }
    
    .actions {
        margin: rem(30px) 0;
        
        img {
            width: rem(25px);
            cursor: pointer;
        }
    }

    @include for-mobile-layout {
        img {
            width: rem(100px);
        }
    }
}