@import "../../../assets/styles/setup/functions";
@import "../../../assets/styles/setup/variables";

.contact-preview {
	align-items: center;
	margin-block-end: rem(20px);
	background-color: $clr6;
	border-radius: rem(20px);
	padding: rem(5px) rem(15px);

	h4 {
		margin: 0;
	}

	&:hover {
		opacity: 0.8;
	}

	img {
		width: 50px;
        margin-inline-end: rem(30px);
		border-radius: 50%;
	}
}