.contact-preview {
	align-items: center;
	margin-block-end: 20px;
	background-color: #ebebeb;
	border-radius: 20px;
	padding: 5px 15px;

	h4 {
		margin: 0;
	}

	&:hover {
		opacity: 0.8;
	}

	img {
		width: 50px;
        margin-inline-end: 30px;
		border-radius: 50%;
	}
}